//------------------------------------------------------------------------------
//- View of team rosters and roster-editing UI.
//------------------------------------------------------------------------------

h1 Fantasy
  strike football
  | &nbsp;made-up sports

hr

fs-team-list-sport-navigation(
  fs-team-list-sport-navigation-current-sport = "currentSport"
)

fs-team-list-roster-editor(
  fs-team-list-roster-editor-current-sport        = "currentSport"
  fs-team-list-roster-editor-current-roster-model = "currentRosterModel"
  fs-team-list-roster-editor-get-selected-players = "getSelectedPlayers"
)

//- Table directive.
fs-team-list-roster-table(
  fs-team-list-roster-table-current-sport        = "currentSport"
  fs-team-list-roster-table-current-roster-model = "currentRosterModel"
  fs-team-list-roster-table-get-selected-players = "getSelectedPlayers()"
)