//------------------------------------------------------------------------------
//- View of team rosters and roster-editing UI.
//------------------------------------------------------------------------------

h1 Fantasy
  strike football
  | &nbsp;made-up sports

hr

fs-team-list-sport-navigation(
  fs-team-list-sport-navigation-current-sport = "currentSport"
)

//- Common team actions.
ul.button-group
  li
    a.button(
      ng-click = "addPlayer()"
    )
      | Add player
  li
    a.button(
      ng-click = "removeSelectedPlayers()"
    )
      | Remove players
  li
    a.button(
      ng-click = "activateSelectedPlayers()"
    )
      | Activate players
  li
    a.button(
      ng-click = "deactivateSelectedPlayers()"
    )
      | Deactivate players
  li(
    ng-show = "currentSport == BEERPONG"
  )
    a.button(
      ng-click = "switchHandednessForSelectedPlayers()"
    )
      | Switch handedness

//- Table directive.
fs-team-list-roster-table(
  fs-team-list-roster-table-current-sport        = "currentSport"
  fs-team-list-roster-table-current-roster-model = "currentRosterModel"
  fs-team-list-roster-table-get-selected-players = "getSelectedPlayers()"
)