/**
 *
 * @name Base
 * @description
 * All your base belong to us. Any tag specific customizations should go here.
 *
 */

$light-blue   = #b4ecff
$light-yellow = #fffcb4

*
  box-sizing border-box

  body
    padding 20px

table
  tr.selected-row
    background $light-yellow

.icon-spacer
  display inline-block
  width   1em
  content ' '
