//------------------------------------------------------------------------------
//- Example of calling a method passed through more than 1 isolated scope.
//------------------------------------------------------------------------------

a.button.tiny.round(
  ng-click = "deselectAllPlayers()"
)
  | Deselect all